input:focus {
    outline: none;
}
.btn {
    border-radius: 20px;
    
    font-size: 11px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    border: 2px solid #68ceec; 
    height: 41px;
    color: rgba(#000000, .87);
    background-color: transparent;
    &:hover {
        cursor: pointer;
        box-shadow: none;
        background: #68ceec;
    }
}

.btn--full {
    border-radius: 34px;
    letter-spacing: 0.05px;
    color: #000;
    font-weight: 500;
    max-width: 396px;
    border: 0;
    background: #68ceec  center top no-repeat;
    box-shadow: inset 0 20px 40px rgba(#fff,.7);
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }
}
.section-title {
    margin: 0;
    color: #222526;
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section-title span {
    color: #313434;
    line-height: 9px;
    margin-bottom: 20px;
    font-size: 11px;
    font-weight: 400;
    display: block;
}
@media(min-width: 992px) {
    .section-title {
        font-size: 30px;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .section-title span {
        font-size: 17px;
    }
}