* {
    box-sizing: border-box;
}
@import "fonts";
body {
    font-family: "SF Pro Display"; 
    font-weight: normal;
    margin: 0;
}
button, input {
    font-family: "SF Pro Display"; 
}
.wrapper {
    overflow: hidden;
}
@import "grid";
@import "interface";
@import "header";
@import "sections/main";
@import "sections/quiz";
@import "sections/services"; 
@import "sections/price";
@import "sections/about";
@import "sections/boss";
@import "sections/bonus"; 